.App{
  font-family: 'Arvo';
  color:#963a2f;
  background-color:#fffee9;
  background-position:center;
  height:100vh;
  background-size: cover;
}

body{
  background-color:#fffee9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 767px) {
  .navUnit, #teams {
    display: inline;
    width: 100%;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3{
  text-decoration:none;
}

#teams{
  background-color: #fffee9;
  display:flex;
  justify-content:space-around;
  
}

.navUnit{
  display: inline-block;
  text-decoration: none;
  font-family: 'Zen Dots'
}

#navBar{
  display: flex;
  justify-content: space-around;
  padding:50px;
  padding-color: fffee9;
  background-color:	#a8a676;
  border-style:double;
  border-width: 5px;
}

#navParent{
  display:flex;
  justify-content: inline-block;
}

.member{
  display:flex;
  justify-content: space-around;
  width: 300px;
  background-color:#d58258 ;
  border: double;
  display: block;
  border-radius: 15px;
  text-align: center;
}

#about{
  padding-left:50px;
}

#newTeamMem{
  display:flex;
  flex-direction:column;
  width: 300px;
  margin: auto;
}

input{
  border-radius:8px;
  border-color: #963a2f;
}

#contact{
  padding-left:50px
}